.sec3-2 .content1{
  background-image: url(../images/ws-sec3-2-content1-photo.png);
}
.sec3-2 .content1 .text2{
  width: 326px;
}
.sec3-2 .sec3-content2-texts{
  margin-top: 21px;
}
.sec3-2 .sec3-content2 .sec3-content2-texts{
  margin-top: 0px;
}
.sec3-2 .sec3-content5 .sec3-content2-texts{
  margin-top: 0px;
}