
.sec3-3-content1{
  background-image: url(../images/ws-sec3-3-content1-photo.png);
}
.sec3-3-content3{
  background-image: url(../images/ws-sec3-3-content1-photo2.png);
}
.sec3-3-content4{
  background-image: url(../images/ws-sec3-3-content1-photo3.jpg);
}
.sec3-3-content2{
  display: grid;
  grid-column: 313px 313px;
  grid-row: 240px 240px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.sec3-3-content2 .content2{
  width: 313px;
  height: 240px;
}
.sec3-4-5-texts .text2-1{
  height: 0px;
  color: #1D1D1F;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px; 
  width: 235px;
  padding-left: 30px;
}
.sec3-4-5-texts .text1{
  width: 320px;
  display: flex;
  color: #6E6E73;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 9px;
}
/* .sec3-3 .sec3-content2-texts{
  margin: 0px;
} */
