.sec3-contents{
  display: flex;
  margin-top: 24px;
  gap: 20px;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
}
.section3 .content1{
  min-width: 400px;
  height: 500px;
  border-radius: 18px;
}
.sec3-3 .content1{
  min-width: 480px;
  height: 500px;
}
.sec3-1 .content1{
  background-image: url(../images/ws-Make\ their\ gift\ one\ of\ a\ kind..png);
}
.content1 {
  padding-left: 30px;
  padding-top: 53px;
}
.sec3-2 .text2{
  height: 66px;
}
.section3 .content1 .text2{
  color: #1D1D1F;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}
.sec3-1 .content1 .text2{
  width: 220px;
}
.section3 .content2{
  min-width: 313px;
  height: 500px;
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 71px 28px 32px 28px;
}
.section3 .content2-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec3-content2-img{
  width: 230px;
  height: 230px;
}
.sec3-content2-items{
  display: flex;
  gap: 7px;
  padding: 25px 86px 21px 79px;
}
.sec3-content2-items .img{
  width: 12px;
  height: 12px;
}

.sec3-1 .content2 .sec3-content2-texts{
  margin-top: 58px;
}
.sec3-1 .sec3-content2 .sec3-content2-texts{
  margin-top: 0px;
}
.section3 .text2-1{
  height: 40px;
}
.section3 .text2-2{
  margin-top: 52px;
}
.sec3-1 .sec3-content2-texts{
  margin-top: 0px;
}
.sec3andsec4 .text2-1{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.sec3andsec4 .text2-2{
  color: #1D1D1F;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}


