*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
.backround{
  width: 1920px;
}
.sec3-3 .content1{
  background-image: url(../images/ws-sec3-3-content1-photo.png);
  width: 480px;
  height: 500px;
}
.sec3-3 .content1 p{
  width: 350px;
}
.sec3-3-content2{
  display: grid;
  grid-column: 313px 313px;
  grid-row: 240px 240px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.sec3-3-content2 .content2{
  width: 313px;
  height: 240px;
}
.sec3-3 .text2-1{
  height: 0px;
  color: #1D1D1F;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px; 
  width: 235px;
  padding-left: 30px;
}
.sec3-3 .sec3-content2-texts{
  margin: 0px;
}