*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.backround{
    width: 1920px;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-color: #F5F5F7CC; 
  width: 100%;
  height: 44px;
}
.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: 0;
  height: 44px;
}
.nav-logo-button{
  display: flex;
  align-items: center;
}
.nav-button4{
  display: none;
}
.nav-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
}
.nav-title p{
  color: #1D1D1F;
  font-size: 14px;
  font-weight: 400;
}

.sections{
  margin-left: 140px;
  margin-right: 140px;
}

/* sec1-1 */

.sec1-1{
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.title{
  display: flex;
  gap: 32px;
}
.title1{
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px;
  background: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title2{
  color: #6E6E73;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px;
}
.profile img{
  width: 35px;
  height: 35px;
}
.profile{
  display: flex;
  gap: 16px;
}
.profile-text{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile-text p{
  color: #1D1D1F;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.profile-text a{
  color: #06C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;  
}
.profile-text2-2{
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.profile-text2 img{
  width: 6px;
  height: 14px;
  align-items: center;
}

/* sec1-2 */

.sec1-2{
  display: flex;
  gap: 12px;
  margin-top: 80px;
}
.sec1-2-content img{
  width: 120px;
  height: 78px;
}
.sec1-2-content{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1d1d1f00;
  width: 140px;
  padding: 16px 8px;
  gap: 16px;
}  
.sec1-2-content p{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 16px;
  color: #1D1D1F;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;

}

